body {
    font-family: "Inter", sans-serif;
    background-image: url("all/background-horizontal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(#000000);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  @media (max-width: 720px) {
    body {
      background-image: url("all/background-vertikal.jpg");
    }
  }
  @media (min-width: 721px) and (max-width: 1080px) {
    body {
      background-image: url("all/background-vertikal.jpg");
    }
  }
  .profile-container {
    color: #000000;
    backdrop-filter: blur(14px);
    border-radius: 20px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 550px;
  }
  .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 1px;
    position: relative;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 30px;
  }
  .button {
    background-color: #818080;
    backdrop-filter: blur(1px);
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    color: #000000;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
  }
  .button i {
    margin-right: 10px;
  }
  .info-container {
    width: 100%;
    margin-top: 0px;
  }
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 21px;
  }
  .info-item i {
    margin-right: 10px;
  }
